@media (min-width: 768px){
    .modal-dialog {
        width: 700px;
        margin: 30px auto;
    }
}
/*
.modal-body{
    min-height:  500px;
}*/

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.user_name{
    padding: 0px 10px;
}

.block-information{
    padding: 0px 10px;
}