.image_profile_circle{
    height: 250px;
    width: 250px;
    border-radius: 125px;
    background-position:50% 50%;
    background-repeat:no-repeat;
    background-size: 250px;
}

.name_block{
    padding: 0px 15px; 
}

#navigation{
    margin: 25px 0px;
}

.item-nav{
    color: #292b2c;
    padding: 0px 60px;
    font-weight: 500;
}

@media (max-width: 576px){
    .item-nav{
        display: block;
    }
}

@media (min-width: 576px){
    .item-nav{
        padding: 0px 20px;
    }
}

@media (min-width: 768px){
    .item-nav{
        padding: 0px 40px;
    }
}