{% load staticfiles %}

doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title LOGIN
        
        //- link
        link(rel='stylesheet', href!='{% static "bootstrap/css/bootstrap.css" %}')
        link(rel='stylesheet', href!='{% static "bootstrap/css/bootstrap-theme.css" %}')

        //- script
        script(src!='{% static "jquery/jquery.min.js" %}')
        script(src!='{% static "bootstrap/js/bootstrap.min.js" %}')
    body
        h4 hi worls

        form(action=".", method="post")
            {{ form.as_p }}
            {% csrf_token %}
            input(name='next', value='/', type='hidden')
            p 
                input(type="submit", value="Log-in")
            
