{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}
            {% endblock %}
        </title>


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "css/index.css" %}">
        <link rel="stylesheet" href="{% static "font-awesome-4.7.0/css/font-awesome.min.css" %}">

        {% block link %}
        {% endblock %}

        <script src="{% static "jquery/jquery.min.js" %}"></script>
        <script src="{% static "js/csrftoken.js" %}"></script>
        <script src="https://unpkg.com/react@15/dist/react.js"></script>
        <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
        <script src="{% static "js/reactstrap.js" %}"></script>

        {% block script %}
        {% endblock %}

    </head>

    <body>
        {% block head %}

            <div class="head-nav">
                <div class="head-nav-item align-middle text-left">
                    <a href="{% url 'index' %}"><h3 class="none-margin">LOGO</h3></a>
                </div>
                <div class="head-nav-item align-middle text-right">
                    {% if user.is_authenticated %}
                        <div class='block-inline align-middle nav-item-top'>
                            <a href={% url 'profile' %}> <span class="none-margin">PROFILE</span></a>
                        </div>
                        <div class='block-inline align-middle nav-item-top'>
                            <a href={% url 'boards' user.username%}> <span class="none-margin">BOARD</span></a>
                        </div>
                        <div class='block-inline align-middle nav-item-top'>
                            <a href={% url 'logout' %}> <span class="none-margin">LOGOUT</span></a>
                        </div>
                    {% else %}
                        <div>
                            <a href={% url 'login' %}> login </a>
                            <a href={% url 'registration' %}> registration </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endblock %}

        <div style="margin-top: 75px;">
            {% block content %}
            {% endblock %}
        </div>

    </body>
</html>
