{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    BOARDS
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static "css/board/broad_list.css" %}">
{% endblock %}

{% block content %}

    <div id="user-information">

    </div>

    <div id='navigation'>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 nav-menu-user text-center">
                    <div>
                        <a class='item-nav' href="../boards">BOARD</a>
                        <a class='item-nav' href="../pictures">PICTURES</a>
                        <a class='item-nav' href="../subscriptions">SUBSCRIPTION</a>
                        <a class='item-nav' href="/picture/add/">ADD PICTURE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id='boards' class='text-center'>
    </div>


    <script src="{% static "js/profile_preview.js" %}"></script>
    <script src="{% static "js/boards.js" %}"></script>
{% endblock %}
