{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    BOARDS
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static "css/board/broad_list.css" %}">
{% endblock %}

{% block content %}
    
    <div id="user-information">

    </div>

    <div id='navigation'>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 text-center nav-menu-user">
                    <a class='item-nav' href="../boards">BOARD</a>
                    <a class='item-nav' href="../subscriptions">SUBSCRIPTION</a>
                    <a class='item-nav' href="../likes">LIKE</a>
                    <a class='item-nav' href="../pictures">IMAGE </a>
                </div>
            </div>
        </div>

    </div>

    <div id='pictures' class='text-center'>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js"></script>

    <script src="{% static "js/profile/broad_preview.jsx" %}" type="text/babel"></script>
    <script src="{% static "js/profile/likes.jsx" %}" type="text/babel"></script>
{% endblock %}
