{% extends "base.html" %}

{% block title %}
    INFORMATION PROFILE
{% endblock %}

{% block content %}
    <div class='text-center'>
        <div style="width: 500px; display: inline-block;">
            <h2>INFORMATION PROFILE</h2>

            <div class="board-inform-item">
                <div class="board-inform-item-left">
                    <h6>Username: </h6>
                </div>
                <div class="board-inform-item-right">
                    <h6>{{ user.username }}</h6>
                </div>
            </div>

            <div class="board-inform-item">
                <div class="board-inform-item-left">
                    <h6>First name: </h6>
                </div>
                <div class="board-inform-item-right">
                    <h6>{{ user.first_name}}</h6>
                </div>
            </div>

            <div class="board-inform-item">
                <div class="board-inform-item-left">
                    <h6>Last name: </h6>
                </div>
                <div class="board-inform-item-right">
                    <h6>{{ user.last_name}}</h6>
                </div>
            </div>

            <div class="board-inform-item">
                <div class="board-inform-item-left">
                    <h6>Email: </h6>
                </div>
                <div class="board-inform-item-right">
                    <h6>{{ user.email}}</h6>
                </div>
            </div>

            <div class="board-inform-item">
                <div class="board-inform-item-left">
                    <h6>DATE OF BIRTH: </h6>
                </div>
                <div class="board-inform-item-right">
                    <h6>{{ profile.date_of_birth}}</h6>
                </div>
            </div>

            <div class="board-inform-item">
                <div class="board-inform-item-left">
                    <h6>PHOTO:</h6>
                </div>
                <div class="board-inform-item-right">
                    {% if profile.photo.url %}
                        <div class="image_profile_circle block-inline align-middle" style="background-image: url({{profile.photo.url}}); height: 140px; width: 140px;">
                        </div>
                    {% endif %}
                </div>
            </div>

            <a href={% url 'edit_profile' %}>
                <button type="button" class="btn btn-danger btn-sm">EDIT</button>
            </a>
        </div>
    </div>
{% endblock %}
